*.la
*.lo
*.o
*.src.rpm
*.tar.gz
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
elftest-execstack
elftest-noexecstack
inspect_elf_bits.c
install-sh
libtool
ltmain.sh
m4
missing
rpminspect
rpminspect.spec
stamp-h1
test-*.log
test-*.trs
test-badwords
test-driver
test-free
test-init
test-inspect_elf
test-koji
test-strfuncs
test-suite.log
test-tty
