*-coverage
*-coverage.info
*.gcda
*.gcno
*.la
*.lo
*.o
*.src.rpm
*.tar.gz
*.tar.gz.asc
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
aminclude_static.am
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
inspect_elf_bits.c
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
rpminspect.spec
src/rpminspect/rpminspect
stamp-h1
test-*.log
test-*.trs
test-badwords
test-driver
test-free
test-init
test-inspect_elf
test-koji
test-strfuncs
test-suite.log
test-tty
tests/librpminspect/execstack
tests/librpminspect/noexecstack
