*.la
*.lo
*.o
.*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
inspect_elf_bits.c
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
