name: Extra CI

on:
    push:
        branches: [ master ]
        paths-ignore:
        - 'contrib/**'
        - 'data/**'
        - 'doc/**'
        - 'po/**'
        - 'regress/**'
        - 'utils/**'

jobs:
    x86_64:
        # Use containers on their ubuntu latest image
        runs-on: ubuntu-latest

        # Set up the matrix of distributions to test
        strategy:
            matrix:
                #container: ["alpine:latest"]
                container: ["centos:centos8", "centos:centos7", "ubuntu:latest", "debian:stable", "debian:testing", "opensuse/leap", "opensuse/tumbleweed", "archlinux/archlinux:base-devel", "gentoo/stage3"]

        container:
            image: ${{ matrix.container }}

        # All of these steps run from within the main source
        # directory, so think of that as your $PWD
        steps:
            # Requirements before the git clone can happen
            - name: git clone requirements
              run: |
                  case "${{ matrix.container }}" in
                      alpine*)
                          apk update
                          apk add git
                          ;;
                      archlinux*)
                          mkdir -p /var/lib/pacman/
                          pacman --noconfirm -Syu
                          pacman --noconfirm -S git
                          ;;
                      centos*)
                          yum install -y epel-release
                          rpm --import /etc/pki/rpm-gpg/*
                          yum install -y git
                          ;;
                      debian*|ubuntu*)
                          apt-get update
                          apt-get -y install git
                          ;;
                      gentoo*)
                          emerge-webrsync
                          emerge dev-vcs/git
                          ;;
                      opensuse*)
                          zypper install -y tar gzip
                          ;;
                  esac

            # This means clone the git repo
            - uses: actions/checkout@v2.1.0

            # Within the container, install the dependencies, build,
            # and run the test suite
            - name: Build and run the test suite
              run: |
                  case "${{ matrix.container }}" in
                      alpine*)
                          apk add make
                          ;;
                      archlinux*)
                          pacman --noconfirm -S make
                          ;;
                      centos*)
                          yum install -y make
                          ;;
                      debian*|ubuntu*)
                          apt-get update
                          apt-get -y install make
                          ;;
                      opensuse*)
                          zypper install -y make
                          ;;
                  esac
                  make instreqs
                  meson setup build --werror -Db_buildtype=debug -Db_coverage=true
                  ninja -C build -v
                  meson test -C build -v
                  ninja -C build coverage
                  curl -s https://codecov.io/bash | bash

    # Non-x86_64 architectures for Fedora, Ubuntu, Debian, Arch, and Alpine
    emulated:
        # GitHub Actions offers Ubuntu to run the job.
        runs-on: ubuntu-latest

        # Run steps on a matrix of arch/distro combinations
        strategy:
            matrix:
                arch: ["aarch64", "ppc64le", "s390x"]
                distro: ["fedora_latest"]

        # All of these steps run from within the main source
        # directory, so think of that as your $PWD
        steps:
            # This means clone the git repo
            - uses: actions/checkout@v2.1.0
            - uses: uraimo/run-on-arch-action@v2.0.5
              id: buildtest
              timeout-minutes: 500
              with:
                  arch: ${{ matrix.arch }}
                  distro: ${{ matrix.distro }}
                  githubToken: ${{ github.token }}

                  # The shell to run commands with in the container
                  shell: /bin/sh

                  # Within the container, install the dependencies
                  # required to use our Makefile
                  install: |
                      case "${{ matrix.distro }}" in
                          fedora*)
                              dnf install -y make
                              ;;
                          debian*|buster|stretch|jessie)
                              apt-get update
                              apt-get -y install make
                              ;;
                      esac

                  # Build the software but skip the test.  The test
                  # suite takes way too long to run in the emulated
                  # environment.  If you want to run it in this
                  # emulated environment, you need to do it this way:
                  #
                  #    /bin/ls -1 test/test_*.py | while read tname ; do
                  #        tname="$(basename ${tname} .py | cut -d '_' -f 2)"
                  #        make check ${tname} || exit 1
                  #    done
                  #    curl -s https://codecov.io/bash | bash
                  #
                  run: |
                      make instreqs
                      meson setup build --werror -Db_buildtype=debug -Db_coverage=true
                      ninja -C build -v
