name: ShellCheck

on:
    push:
        branches: [ master ]
        paths:
        - '**.sh'

    pull_request:
        branches: [ master ]
        paths:
        - '**.sh'

jobs:
    shellcheck:
        runs-on: ubuntu-latest
        # Ubuntu's ShellCheck is old enough to not have --severity
        container: fedora:latest
        steps:
            - uses: actions/checkout@v2
            - run: dnf install -y ShellCheck xz
            - run: find . -type f -name "*.sh" -exec shellcheck --severity=warning {} \;
